[Unit]
Description=SSH tunnel to scality.cloud bastion

[Service]
Restart=always
RestartSec=10
EnvironmentFile=%h/.ssh/environment.env
ExecStart=/usr/bin/ssh -F %h/.ssh/config -N bastion

[Install]
WantedBy=default.target
