# Merge setting in Xresources
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# Remap keyboard keys
[[ -f ~/.Xmodmap ]] && xmodmap ~/.Xmodmap

# Set background
#feh --bg-scale ~/.backpack/background.png

# Start urxvt daemon
# TODO move to systemd units
urxvtd -q -f -o

# Start bluetooth tray daemon
# blueberry-tray

# Configure Monitors
export MON_PRIMARY_DOCKED="DisplayPort-0"
export MON_SECONDARY_DOCKED="DisplayPort-1"

autorandr --change
